# Bot
aiogram==3.12.0
aiohttp-socks==0.9.5

# DB & ORM
sqlalchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.2

# Tasks & Cache
celery==5.4.0
redis==5.1.0

# Utils
httpx==0.27.2
python-dotenv==1.0.1
